<html>
 <head>
 <title> Login and Rgistration Form </title>
 <link rel="stylesheet" href="static/style.css"/>
</head>   
 <body>
<div class ="login-page">
<div class="form">
    <form class="register-form">
    <input type="text" placeholder="User Name">
    <input type="text" placeholder="Password">
    <input type="text" placeholder="User email">
        <button type="button">Register</button>
        <p class="message">Already Have an Account ?<a href="#"> Login</a></p>
    </form>
</div>
</div>
 </body>      
</html>